/* core css file */


/* Header start from her */
.header-container{
    width: 1500px;
    height:100px;
    background-color: #562EFF;
    display: flex;
    justify-content: space-between;
}
.img-icon img{
    margin-top: 15px;
    margin-left: 285px;
    width: 40.42;
    height: 52px;
}
.header-container .img-title{
    margin: 10px 15px;
    color: white;
    font-size: 19px;
}
.header-first{
    display: flex;
}

.nav-menu{

}
.nav-menu ul{
    list-style: none;
    display: flex;
}
.nav-menu ul li{
    padding: 10px;
    font-size: 19px;
    color: white;

}

.header-last{
    display: flex;
}
.nav-img{
    margin-top: 15px;
    margin-right:285px;
}

/* main section start from here */

.container{
    width: 1500px;
    height:1220px;
    background-color: #F3F1FF;
}