/* import css style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* Header start from her */


body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;;
 }

 .container{
    background-color: #FFFFFF;
    width: 870px;
    padding:30px;
    margin-top: 40px;
}
.header-container{
    width: 1500px;
    height:100px;
    background-color: #562EFF;
    display: flex;
    justify-content: space-between;
}
.img-icon img{
    margin-top: 15px;
    margin-left: 285px;
    width: 40.42;
    height: 52px;
}
.header-container .img-title{
    margin: 10px 15px;
    color: white;
    font-size: 19px;
}
.header-first{
    display: flex;
}

.nav-menu{

}
.nav-menu ul{
    list-style: none;
    display: flex;
}
.nav-menu ul li{
    padding: 10px;
    font-size: 19px;
    color: white;

}

.header-last{
    display: flex;
}
.nav-img{
    margin-top: 15px;
    margin-right:285px;
}

/* main section start from here */


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
}

.section-title{
    font-size: 24px;
    color: #562EFF;
    
}

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 33px;
}

.players img{
    width: 56px;
    height: 56px;
}
.player{
    display: flex;
}
.player-name{
    padding-left: 16px;
    font-size: 18px;
}

hr{
    border: 1px solid #D1D1D1;
}

/* top blogs section */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog-img img{
    width: 177px;
    height: 117px;
}
.blog-title{
    margin-left: 16px;
}
.blog-author a{
    text-decoration:none;
    color: #562EFF;
    font-size: 16px;
}
/* top courses sections start from her */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}
.course-img img{
    width: 224px;
    height: 104px;
}
.course{
    width: 244px;
    box-shadow: 1px 2px 5px white;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.author-name{
    color: #ED6B4F;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color:#AEAEAE;
}

.course-duration{
    background-color: #FF4A60;
    color: pink;
    border-radius: 5px;
}